################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GiphyPropertyEditor.Web/App_Data/cache
/GiphyPropertyEditor.Web/App_Data/Logs
/GiphyPropertyEditor.Web/App_Data/Models
/GiphyPropertyEditor.Web/App_Data/packages
/GiphyPropertyEditor.Web/App_Data/TEMP
/GiphyPropertyEditor.Web/bin
/GiphyPropertyEditor.Web/obj/Debug
/GiphyPropertyEditor.Web/Umbraco
/packages
/GiphyPropertyEditor/obj/Debug
/GiphyPropertyEditor/bin/Debug
/GiphyPropertyEditor.Web/App_Plugins/GiphyPropertyEditor
/GiphyPropertyEditor/GiphyPropertyEditor.csproj.user
