<div ng-controller="Giphy.GridEditor.Controller">
    <div ng-if="control.value" class="umb-editor-placeholder" ng-click="add()">
        <img ng-src="{{control.value}}" />
    </div>

    <div ng-if="!control.value" class="umb-editor-placeholder" ng-click="add()">
        <i class="icon icon-smiley-inverted blue"></i>
        <a href="#" prevent-default="">
            Choose Gif
        </a>
    </div>
    
    <umb-overlay
        ng-if="overlay.show"
        model="overlay"
        view="overlay.view"
        position="right">
    </umb-overlay>
</div>