div.giphyPropertyEditor div.results {
    margin-top: 10px;
}

div.giphyPropertyEditor div.results img {
    margin: 0px 10px 10px 0px;
    float: left;
    cursor: pointer;
}

div.giphyPropertyEditor div.results img:hover {
    -webkit-box-shadow:0 0 2px 4px #f5c1bc;
    box-shadow:0 0 2px 4px #f5c1bc;
}